<nav class="navbar is-info" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <%= image_tag ("/assets/logo.jpg"), alt: "logo" %>
    </a>
  </div>

  <div class="navbar-menu is-active">
    <div class="navbar-start">
      
      <a class="navbar-item" href="<%= root_path %>">
        Home
      </a>
      
      <a class="navbar-item" href="<%= about_path %>">
        About
      </a>

      <a class="navbar-item" href="<%= genres_path %>">
        Genres
      </a>

      <a class="navbar-item" href="<%= books_path %>">
        Books
      </a>

      
    </div>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      
      <%= form_with(url: search_books_path, method: "get", local: true) do %>
        <div class="field is-grouped">
          <div class="control select is-primary mr-0">
            <%= select_tag(:genre, options_for_select(@nav_genres)) %>
          </div>
          
          <div class="control is-expanded mr-1">
            <%= text_field_tag(:keyword, nil, class: "input", placeholder: "Book Search") %>
          </div>
          
          <div class="control">
            <%= submit_tag("ðŸ”", class: "button is-primary") %>
          </div>
        </div>
      <% end %>

    </div>
    
    <div class="navbar-item">
      <div class="button is-danger is-light">
        <%= link_to 'ðŸ›’', shopping_cart_path %>
        <ul>
          <li>
            <% if @cart_books.present? %>
              <sup><%= @size %></sup>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="navbar-item">
      <% if customer_signed_in? %>
        <div class="button is-info is-light">
          <%= link_to 'Sign out', destroy_customer_session_path, method: :delete %>
        </div>
      <% else %>
        <div class="button is-warning is-light mr-2">
          <%= link_to 'Sign up', new_customer_registration_path %>
        </div>
        <div class="button is-warning is-light">
          <%= link_to 'Log in', new_customer_session_path %>
        </div>
      <% end %>
    </div>
    
  </div>
</nav>