<div class="column is-6 mt-6">
    <div class="card">
        <div class="columns is-variable is-3">
            <div class="column">
                <% if book.image.present? %>
                    <div>
                        <figure class="image">
                            <%= image_tag book.image, alt: "#" %>
                        </figure> 
                    </div>
                <% end %>
            </div>
            
            <div class="column mt-5 mb-3 mr-3 ml-3">
                <p class="title is-5">
                    <%= link_to book.title, book %>
                </p>
                <p class="mt-5">
                    by <strong><%= book.author %></strong>
                </p>
                <p class="mt-2">
                    at <%= ActiveSupport::NumberHelper.number_to_currency(book.price) %>
                </p>
                    
                <div class="mt-6 mb-3">
                    <% if @cart_books.include?(book) %>
                        <%= button_to cart_path(book), method: :delete, class: "button is-small is-info is-light" do %>
                            Remove
                        <% end %>
                    <% else %>
                        <%= form_with url: cart_index_path, method: :post do %>
                            <%= hidden_field_tag(:id, book.id) %>
                            <div class="control select is-small is-info mr-1">
                                <%= select_tag(:qty, options_for_select([[1,1],[2,2],[3,3],[4,4],[5,5]], 1)) %>
                            </div>
                            <%= button_tag 'Add to Cart', class: "button is-small is-info is-light" %>
                        <% end %>
                    <% end %>
                </div>
                
            </div>
        </div>
    </div>
</div>